<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVE STREAMING</title>
    <style>
        a {
            font-size: 30px;
        }

    html,body{
  width: 100%;
  height: 100%;
}
    </style>
</head>
<body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
            <iframe src="{{ url_for('video_feed') }}" frameborder="0" scrolling="no" style="height: 100%; 
            width: 49%; float: left; " height="100%" width="100%" height="100%" align="left"></iframe> 
        <iframe src="{{ url_for('text_feed') }}" frameborder="1" scrolling="yes" style="overflow: hidden; height: 100%; width: 49%; " height="100%" width="45%" align="right"></iframe> 
</body>
</html>
